<md-toolbar layout="row" layout-align="center center">

  <md-button href="#">End Game Skyblock Island Map</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button flex="15" class="md-raised md-primary md-hue-1" href="http://www.endgameserver.com" target="_blank">Visit End Game</md-button>
    <md-button flex="15" class="md-raised md-primary md-hue-1" href="http://www.endgameserver.com/forum/m/4480316/viewthread/24492606-skyblock-map-experiment" target="_blank">Submit Your Island</md-button>
  </section>

</md-toolbar>
